@page
@model Appsec_Assignment.Pages.ErrorPages._500Model
@{
}
<h1>Error 500 - Internal Server Error</h1>
<p>Oops! Something went wrong on our end.</p>
<p> We are currently looking for a fix. Hang in there!</p>