@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">212707P Ira Ramos' Website</h1>
    <p>I will be showing off many security feature in this application</p>
</div>
